{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/camera.js') }}"></script>
<script src="{{ url_for('static', filename='js/detect.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/detect.css') }}">

<div class="content">
    <div class="user__camera">
        <img id="deepfakeImage" src="" alt="Deepfake Image" style="display:none; position:absolute; width:100%; height:100%; object-fit:cover; border-radius: 15px;">
        <video id="cameraFeed" autoplay></video>
        <!-- <img id="placeholderImage" src="{{ url_for('static', filename='images/camera-off-icon.png') }}" alt="Camera Off"> -->
    </div>

    <div class="control__panel">
        <div class="control__panel-left">
            <button class="control__panel-detect"
            data-icon-on="{{ url_for('static', filename='images/detect_on.png') }}"
            data-icon-off="{{ url_for('static', filename='images/detect_off.png') }}">
            <img src="{{ url_for('static', filename='images/detect_off.png') }}" class="icon eye_icon_off"> Deepfake Detection: Off
            </button>

            <!-- Collapsible for Parameters -->
            <div class="collapsible-section">
                <button class="control__panel-info" onclick="toggleCollapse('parametersInfo')">Parameters</button>
                <div class="collapsible-content" id="parametersInfo">
                    <p>Waiting for data...</p>
                </div>
            </div>

        </div>
        
        <div class="control__panel-right">
                        <!-- Collapsible for Status -->
            <div class="collapsible-section">
                <button class="control__panel-info" onclick="toggleCollapse('statusInfo')">Status</button>
                <div class="collapsible-content" id="statusInfo">
                    <p>DeepFake Detection Turned Off</p>
                </div>
            </div>

            
            <div class="button-group">
                <button class="toggle-btn" onclick="toggleCamera()" id="cameraButton">Toggle Camera</button>
                <button class="upload-btn" id="uploadDetectVideoBtn">Upload Video</button>
                <input type="file" id="detectVideoUpload" accept="video/*" multiple hidden>
            </div>
            
            <!-- New Collapsible Video Section -->
            <div class="collapsible-content" id="detectVideoContainer">
                <div class="video-grid" id="detectVideoGrid">
                    <!-- Videos will be dynamically added here -->
                </div>
            </div>
            
        </div>

    </div>


</div>

{% endblock content %}
